@page
@using Auditor.Models.EnumModels
@using Auditor.Common
@model RegisterModel

<form method="post" autocomplete="off" asp-route-returnUrl="@Model.ReturnUrl">
    <div class="py-4 my-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row mb-4">
            <div class="col-8 offset-2">
                <div class="card shadow">
                    <div class="card-body px-lg-5 pt-3">
                        <h3 class="col-12 text-info text-center py-2">
                            Registrarse
                        </h3>
                        <hr/>
                        <div class="row py-2">
                            <div class="col-6">
                                <div>
                                    <input asp-for="Input.Nombres" placeholder="Nombres" class="form-control"/>
                                    <span asp-validation-for="Input.Nombres" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div>
                                    <input asp-for="Input.Apellidos" placeholder="Apellidos" class="form-control"/>
                                    <span asp-validation-for="Input.Apellidos" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="py-2">
                            <label>Fecha de Nacimiento</label>
                            <input type="date" asp-for="Input.FechaNacimiento" class="form-control" placeholder="Fecha de Nacimiento"/>
                            <span asp-validation-for="Input.FechaNacimiento" class="text-danger"></span>
                        </div>
                        <div class="py-2">
                            <label>Tipo de Documento</label>
                            <select asp-for="Input.TipoIdentificacion" placeholder="Nombres" class="form-control">
                                <option value="0">-- Seleccione --</option>
                                <option value="@TipoIdentificacion.Cedula">Cédula</option>
                                <option value="@TipoIdentificacion.Pasaporte">Pasaporte</option>
                            </select>
                            <span asp-validation-for="Input.TipoIdentificacion" class="text-danger"></span>
                        </div>
                        <div class="py-2">
                            <input asp-for="Input.NumeroIdentificacion" placeholder="Número de Documento" class="form-control"/>
                            <span asp-validation-for="Input.NumeroIdentificacion" class="text-danger"></span>
                        </div>
                        <div class="row py-2">
                            <div class="col-6">
                                <input asp-for="Input.TelefonoMovil" placeholder="Teléfono Celular" class="form-control"/>
                                <span asp-validation-for="Input.TelefonoMovil" class="text-danger"></span>
                            </div>
                            <div class="col-6">
                                <input asp-for="Input.TelefonoFijo" placeholder="Teléfono Fijo" class="form-control"/>
                                <span asp-validation-for="Input.TelefonoFijo" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="py-2">
                            <input type="email" asp-for="Input.Email" placeholder="Email" class="form-control"/>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="row py-2">
                            <div class="col-6">
                                <input type="password" asp-for="Input.Password" placeholder="Contraseña" autocomplete="off" class="form-control"/>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="col-6">
                                <input type="password" asp-for="Input.ConfirmPassword" placeholder="Confirmar Contraseña" autocomplete="off" class="form-control"/>
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="py-2">
                            <button type="submit" class="btn btn-success form-control">
                                <i class="far fa-save"></i>
                                Registrar
                            </button>
                        </div>
                        <hr class="mb-1"/>
                        <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Ya tiene una cuenta?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}