@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmar restablecimiento de contraseña";
}

<h1>@ViewData["Title"]</h1>
<p>
    Tu contraseña ha sido restablecida. Por favor <a asp-page="./Login">has click aqui para iniciar sesión</a>.
</p>
